<div class="client_box cresco" id="cresco">
  <div class="close"><img src=<%= asset_path 'close-x.svg' %> ></div>
  <div class="title">
      Cresco
  </div>
  <div class="client_content">
    <div class="credits">Design<span class="text_symbol"> | </span>Production</div>
    <div class="on-screen">
      <div class="laptop-screen">
        <img class="firstLoad" data-src=<%= asset_path 'cresco-composite-1.png' %> >
      </div>
    </div>
    <div class="text">
      <h2>Cresco is a mediacl marijuana producer in Illinois</h2>
      <p>
        I worked with Cresco to develop a series of Marijuana-Strain trading cards. These cards are given out at dispensaries to promote the brand and help patients understand the use case for and efficacy of each strain. The cards are color coded and broken in to three categories: Rest / Indica, Rise / Sativa, and Refresh / Hybrid. 
      </p>
    </div>
    <div class="gallery">
      <div class="gallery_tile">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'cresco-1F.jpg' %> >
      </div>
      <div class="gallery_tile">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'cresco-2F.jpg'  %> >
      </div>
      <div class="gallery_tile">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'cresco-3F.jpg'  %> >
      </div>
    </div>
    <div class="gallery">
      <div class="gallery_tile">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'cresco-1B.jpg' %> >
      </div>
      <div class="gallery_tile">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'cresco-2B.jpg'  %> >
      </div>
      <div class="gallery_tile">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'cresco-3B.jpg'  %> >
      </div>
    </div>
  </div>
</div>