<div class="client_box" id="zearn">
  <div class="close"><img src=<%= asset_path 'close-x.svg' %> ></div>
  <div class="title">
      ZEARN
  </div>
  <div class="client_content">
    <div class="credits"> BRANDING<span class="text_symbol"> | </span>DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
    <div class="on-screen tower-screen">
      <div class="laptop-screen">
        <svg viewBox="0 0 1280 783">
          <defs>
            <clipPath id="imageClip">
                <rect transform="scale(1,-1) translate(0,0)" x="175.5" y="-635" width="937.5" height="587" />
            </clipPath>
          </defs>
          <path class="screen-frame" d="M 1106,655  H 181  c -18,0 -32,14 -32,32  V 666  h 990  V 687  C 1139,669, 1124,655, 1106,655 z"/>
          <rect class="screen-inside" transform="scale(1,-1) translate(0,0)" x="175" y="-635" width="938" height="0"/>
          <path class="body-top" d="M 1254,683  c 0,0 -1,0 -4,0  H 33 c -2,0 -4,0 -4,1  v -10  c 0,0 -4,0 4,0  h 1217  c 2,0 4,2 4,4 V 683  z"/>
          <path class="body-bottom" d="M 1251,687  c 0,0 -30,0 -69,0  H 101  c -39,0 -69,0 -69,0  H 1251  z"/>
          <path class="body-latch" d="M 729,667  l -2,-1  c -1,0 -5,0 -8,0  H 571  c -2,-1 -6,0 -8,0  l -2,-1  H 729  z"/>
          <image class="screen-image" clip-path="url(#imageClip)" width="1025" height="590" x="132" y="48" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" data-link="<%= asset_path 'Zearn_screen_home.jpg'  %>" />
        </svg>
      </div>
    </div>
    <div class="text">
      <h2>Zearn is an educational technology company</h2>
      <p>
       I worked with Zearn to develop an identity and subsequently design the student experience for their web app. The heart of that experience is the Tower of Power.
      </p>
    </div>
    <div class="on-screen tower-screen">
      <div class="laptop-screen">
        <svg viewBox="0 0 1280 783">
          <defs>
            <clipPath id="imageClip">
                <rect transform="scale(1,-1) translate(0,0)" x="175.5" y="-635" width="937" height="586" />
            </clipPath>
          </defs>
          <path class="screen-frame" d="M1106.2,0H181.9c-18,0-32.8,14.8-32.8,32.8V666h990V32.8C1139.1,14.8,1124.3,0,1106.2,0z M1109.4,623.8H178.7v-581h930.7
          V623.8z"/>
          <rect class="screen-inside" transform="scale(1,-1) translate(0,0)" x="175" y="-635" width="938" height="0"/>
          <path class="body-top" d="M1254.7,683.5c0,2.2-1.8,4-4,4H33c-2.2,0-4-1.8-4-4v-14.3c0-2.2,1.8-4,4-4h1217.7c2.2,0,4,1.8,4,4V683.5z"/>
          <path class="body-bottom" d="M1251.6,687.5c0,0-30.2,14.3-69.4,14.3H101.4c-39.3,0-69.4-14.3-69.4-14.3H1251.6z"/>
          <path class="body-latch" d="M729.8,665.3l-2.9,8.9c-1.5,2.5-5.1,4.6-8,4.6H571.5c-2.9,0-6.5-2.1-8-4.6l-2.9-8.9H729.8z"/>
          <image class="screen-image" clip-path="url(#imageClip)" width="1025" height="585" x="132" y="49.75" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" data-link="<%= asset_path 'Ztower_1.jpg'  %>" />
          <image class="animated-screen" clip-path="url(#imageClip)" width="1025" height="585" x="132" y="49.75" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" data-link="<%= asset_path 'Ztower_2.jpg'  %>" />
          <image class="animated-screen" clip-path="url(#imageClip)" width="1025" height="585" x="132" y="49.75" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" data-link="<%= asset_path 'Ztower_3.jpg'  %>" />
          <image class="animated-screen" clip-path="url(#imageClip)" width="1025" height="585" x="132" y="49.75" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" data-link="<%= asset_path 'Ztower_4.jpg'  %>" />
          <image class="animated-screen" clip-path="url(#imageClip)" width="1025" height="585" x="132" y="49.75" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" data-link="<%= asset_path 'Ztower_5.jpg'  %>" />
          <image class="animated-screen" clip-path="url(#imageClip)" width="1025" height="585" x="132" y="49.75" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" data-link="<%= asset_path 'Ztower_6.jpg'  %>" />
        </svg>
      </div>
    </div>

    <div class="text">
      <p>
        In addition to the main experience I designed and illustrated a variety of mini-games that helped the students develop important skills.</p>
      </p>
    </div>
    <div class="gallery">
      <div class="gallery_tile_2">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'Zearn_screen_digitslam.jpg'  %> >
      </div>
      <div class="gallery_tile_2">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'Zearn_screen_paste.jpg'   %> >
      </div>
    </div>
    <div class="text">
      <p>
        And developed illustrations that brought color and joy to the students' learning experience. </p>
      </p>
    </div>
    <div class="gallery">
      <div class="gallery_tile_2">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'Zearn_screen_tomatos.jpg'  %> >
      </div>
      <div class="gallery_tile_2">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'Zearn_screen_carrots.jpg' %> >
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
