<div class="pages fun-page" >
  <div class="content">
    <div class="scrollback"></div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Whale Time-Lapse
      </div>
      <div class="client_content">
        <div class="on_screen">
          <a class="fancybox-media" href="http://player.vimeo.com/video/43652587">
            <img src=<%= asset_path 'fun/whale_screen.png'  %> >
          </a>
        </div>
        <div class="text">
          <h1>Whale is a painting by Benjamin Oakley Wilson.</h1>
          <p>
            Whale was painted on the front of the Violet Hour in Chicago, in May 2012.
            Other than filling large areas with a roller, the work was done entirely in spray paint. I was fortunate enough to capture the whole thing via time-lapse.<br><br>
            The video was featured on Huffington Post, Chicagoist, Eater and a number of other local outlets.<br><br>
            See more of Ben’s work <a href="http://www.benjaminoakleywilson.com/" target="_blank">here.</a>
          </p>
        </div>
      </div>
    </div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Deer Time-lapse
      </div>
      <div class="client_content">
        <div class="on_screen">
          <a class="fancybox-media" href="http://player.vimeo.com/video/80033326?byline=0&amp;portrait=0">
            <img src=<%= asset_path 'fun/deer_screen.png'  %> >
          </a>
        </div>
        <div class="text">
          <h1>Deer is a painting by Benjamin Oakley Wilson.</h1>
          <p>
            For a second time I had the pleasure of time-lapsing Ben painting the facade of the Violet Hour in Chicago, this time in October of 2013.
            The beautiful work was done entirely in spray paint.<br><br>
            The video was featured on Red Eye Chicago, Huffington Post, reddit.com/r/chicago and other local outlets.<br><br>
            See more of Ben’s work <a href="http://www.benjaminoakleywilson.com/" target="_blank">here.</a>
          </p>
        </div>
      </div>
    </div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Creative Name Company
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'fun/cnc_screen.png' %> ></div>
        <div class="text">
          <h1>Creative Name Company is a spoof website.</h1>
          <p>
            I love companies that try to make creativity formulaic. So I created CNC to spoof the idea that creating a name is as simple as entering a few words about what your company does. Be sure to check out the gallery under “our work”.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="Input a few words" rel="CNC" href=<%= asset_path 'fun/cnc_close_1.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'fun/cnc_close_1.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="Wait for the processing " rel="CNC" href=<%= asset_path 'fun/cnc_close_2.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'fun/cnc_close_2.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Get your creative name" rel="CNC" href=<%= asset_path 'fun/cnc_close_3.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'fun/cnc_close_3.png' %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Comma Chameleon
      </div>
      <div class="client_content">
        <div class="on_screen">
          <a class="fancybox-media" href="http://www.youtube.com/embed/hF589_X_JJg?autoplay=1">
            <img src=<%= asset_path 'fun/comma_screen.png'  %> >
          </a>
        </div>
        <div class="text">
          <h1>Comma Chameleon is a short, goofy joke.</h1>
          <p>
            Comma Chameleon is a short video that illustrates one of my favorite, misheard lyrics.<br>
            Inexplicably, the video has over 25,000 views on Youtube.
          </p>
        </div>
      </div>
    </div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Moonrise Halloween
      </div>
      <div class="client_content">
        <div class="on_screen">
          <a class="fancybox-media" href="http://player.vimeo.com/video/52813331?byline=0&amp;portrait=0">
            <img src=<%= asset_path 'fun/moonrise_screen.png'  %> >
          </a>
        </div>
        <div class="text">
          <h1>Moonrise Halloween is a time-lapse of our costumes.</h1>
          <p>
            Amanda and I dressed up as Sam and Susie from Moonrise Kingdom for Halloween. I time-lapsed the whole process including me shaving off a year’s-worth of beard.
          </p>
        </div>
      </div>
    </div>

  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
</div>