<div class="pages logos-page" >
  <div class="content">
    <div class="scrollback"></div>
    <div class="logos_full">
      <div class="logos_content left">
        <a class="fancybox" title="Zearn: Learning Beyond Z" rel="logos" href=<%= asset_path 'logos/zearn.jpg'  %>>
          <img src=<%= asset_path 'logos/zearn.jpg'  %> >
        </a>
      </div>
      <div class="logos_content middle">
        <a class="fancybox" title="Leadership Prep Brownsville " rel="logos" href=<%= asset_path 'logos/brownsville.jpg'  %>>
          <img src=<%= asset_path 'logos/brownsville.jpg'  %> >
        </a>
      </div>
      <div class="logos_content right">
        <a class="fancybox" title="Flip It" rel="logos" href=<%= asset_path 'logos/flipit.jpg'  %>>
         <img src=<%= asset_path 'logos/flipit.jpg'  %> >
        </a>
      </div>
      <div class="logos_content left">
        <a class="fancybox" title="SeeMaxWork Inc." rel="logos" href=<%= asset_path 'logos/seemax.jpg'  %>>
          <img src=<%= asset_path 'logos/seemax.jpg'  %> >
        </a>
      </div>
      <div class="logos_content middle">
        <a class="fancybox" title="Real Complainers Vote" rel="logos" href=<%= asset_path 'logos/rcv.jpg'  %>>
          <img src=<%= asset_path 'logos/rcv.jpg'  %> >
        </a>
      </div>
      <div class="logos_content right">
        <a class="fancybox" title="George Ketsios Photography" rel="logos" href=<%= asset_path 'logos/gkp.jpg'  %>>
          <img src=<%= asset_path 'logos/gkp.jpg'  %> >
        </a>
      </div>
      <div class="logos_content left">
        <a class="fancybox" title="Digit Slam" rel="logos" href=<%= asset_path 'logos/digitslam.jpg'  %>>
          <img src=<%= asset_path 'logos/digitslam.jpg'  %> >
        </a>
      </div>
      <div class="logos_content middle">
        <a class="fancybox" title="The Video Feed" rel="logos" href=<%= asset_path 'logos/videofeed.jpg'  %>>
          <img src=<%= asset_path 'logos/videofeed.jpg'  %> >
        </a>
      </div>
      <div class="logos_content right">
        <a class="fancybox" title="Snowball Party: Los Angeles" rel="logos" href=<%= asset_path 'logos/snowball_2.jpg'  %>>
          <img src=<%= asset_path 'logos/snowball_2.jpg'  %> >
        </a>
      </div>
    </div>
    <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
  </div>
</div>