<div class="pages logos-page" >
  <div class="content">
    <div class="logo-gallery">

      <div class="logo-tile">
        <div class="logo-close">
          <img src=<%= asset_path 'logo-close.svg' %> >
        </div>
        <div class="logo-title">
          The League of Extraordinary Budtenders
        </div>
        <img src=<%= asset_path 'logos/loebt.svg'  %> >
      </div>
      <div class="logo-tile">
          <div class="logo-close">
            <img src=<%= asset_path 'logo-close.svg' %> >
          </div>
          <div class="logo-title">
            The Best of Craigslist Live
          </div>
          <img src=<%= asset_path 'logos/bofcl.svg'  %> >
      </div>

      <div class="logo-tile">
        <div class="logo-close">
          <img src=<%= asset_path 'logo-close.svg' %> >
        </div>
        <div class="logo-title">
          Big Swig: Alaskan Brewery Tour
        </div>
         <img src=<%= asset_path 'logos/bigswig.svg'  %> >
      </div>


      <div class="logo-tile">
        <div class="logo-close">
          <img src=<%= asset_path 'logo-close.svg' %> >
        </div>
        <div class="logo-title">
          Leadership Prep Brownsville 
        </div>
        <img src=<%= asset_path 'logos/brownsville.svg'  %> >
      </div>

      <div class="logo-tile">
        <div class="logo-close">
          <img src=<%= asset_path 'logo-close.svg' %> >
        </div>
        <div class="logo-title">
          Peeled Apple Productions
        </div>
        <img src=<%= asset_path 'logos/peeled.svg'  %> >
      </div>

      <div class="logo-tile">
        <div class="logo-close">
          <img src=<%= asset_path 'logo-close.svg' %> >
        </div>
        <div class="logo-title">
          Zearn: Learning Beyond Z
        </div>        
          <img src=<%= asset_path 'logos/zearn.svg'  %> >
      </div>
    </div>
  </div>
</div>