<div class="pages logos-page" >
  <div class="content">
  <div class="logos_full">
    <div class="logos_content">
      <a class="fancybox" title="Proin imperdiet augue et magna interdum hendrerit" rel="logos" href=<%= asset_path 'seemaxfav.png'  %>><img src=<%= asset_path 'skyline.jpg'  %> ></a>
    </div>
    <div class="logos_content middle">
      <a class="fancybox" rel="logos" href=<%= asset_path 'seemaxfav.png'  %>><img src=<%= asset_path 'skyline.jpg'  %> ></a>
    </div>
    <div class="logos_content">
      <a class="fancybox" rel="logos" href=<%= asset_path 'seemaxfav.png'  %>><img src=<%= asset_path 'skyline.jpg'  %> ></a>
    </div>
    <div class="logos_content">
      <a class="fancybox" rel="logos" href=<%= asset_path 'seemaxfav.png'  %>><img src=<%= asset_path 'skyline.jpg'  %> ></a>
    </div>
    <div class="logos_content middle">
      <a class="fancybox" rel="logos" href=<%= asset_path 'seemaxfav.png'  %>><img src=<%= asset_path 'skyline.jpg'  %> ></a>
    </div>
    <div class="logos_content">
      <a class="fancybox" rel="logos" href=<%= asset_path 'seemaxfav.png'  %>><img src=<%= asset_path 'skyline.jpg'  %> ></a>
    </div>
  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'seemaxlogo_2.png'  %> ></a>
</div>