<div class="pages special-page">
  <div class="content">
    <div class="scrollback"></div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
        NESQUIK : Lactose Tolerance
        <div class="credits"> CONCEPT<span class="text_symbol"> | </span>CO-DESIGN<span class="text_symbol"> | </span>COPYWRITER</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'LT_Screen_1.png'  %> ></div>
        <div class="text">
          <h1>Lactose tolerance was a viral campaign promoting equality for milk of all flavors.</h1>
          <p>
           I worked with Nesquik (via Marcus Thomas) to develop a campaign that would help keep flavored milk top of mind with young people. Utilizing light branding, the internet and a real world "headquarters" we developed a campaign that spread quickly and deliciously.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2S">
            <a class="fancybox" title="Lactose Tolerance Headquarters" rel="LT" href=<%= asset_path 'LT_Screen_2.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'LT_Screen_2.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile_2S right">
            <a class="fancybox" title="Lactose Tolerance Schwag" rel="LT" href=<%= asset_path 'LT_Screen_3.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'LT_Screen_3.jpg'   %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            The headquarters was active for two weeks in New York City. People were given free Lactose Tolerance memorabilia, hand made posters, IDs, and free flavored milk from an unmarked cooler.<br>
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Website and News Stories" rel="LT" href=<%= asset_path 'LT_Screen_4.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'LT_Screen_4.jpg'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              The website was used to interact with fans, share news, give away gear and spread Lactose Tolerance to those who couldn't be at our headquarters.<br><br>
              We also created a series of PSAs to help spread the message and drive traffic for the cause.
            </p>
            <br><br>
          </div>
          <div style="clear: both;"></div>
          <div class="on_screen">
            <a class="fancybox-media" href="http://player.vimeo.com/video/1041574">
              <img src=<%= asset_path 'LT_Screen_5.png'  %> >
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              The project is no longer officially live but you can see the remains of it via the way back machine here: <a href="http://web.archive.org/web/20071113235114/http://www.lactosetolerance.org/" target="_blank">Wayback Tolerance.</a><br><br>
              And if you want to know a little more about the numbers cause you're nerdy like that, click right here: <a class="fancybox-media" href="http://player.vimeo.com/video/1225458">Tolerance Numbers.</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
        CABOT : That's Pro
        <div class="credits"> CONCEPT<span class="text_symbol"> | </span>DESIGN<span class="text_symbol"> | </span>ART DIRECTION<span class="text_symbol"> | </span>Copywriter</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'Cabot_Screen_0.png'  %> ></div>
        <div class="text">
          <h1>That's Pro is a campaign that elevated DIYers and Celebrated Pro's.</h1>
          <p>
           I worked with Cabot (via Third Street) to develop a campaign that would increase name-recognition and sales among DIYers and Proffesional Word Workers. The campaign educated DIYers using Advice from the Pros in Print.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="Cabot Stretcher Print Ad" rel="Cabot_B" href=<%= asset_path 'Cabot_C_1.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Cabot_C_1.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="Cabot Pants Print Ad" rel="Cabot_B" href=<%= asset_path 'Cabot_C_2.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Cabot_C_2.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Cabot Boots Print Ad" rel="Cabot_B" href=<%= asset_path 'Cabot_C_3.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Cabot_C_3.jpg'  %> >
              </div>
            </a>
          </div>
        </div>
          <div style="clear: both;"></div>
          <div class="text">
          <p>
            And the education continued on <a href="http://www.youtube.com/user/Cabot" target="_blank">The Cabot Youtube channel</a> via How-To Videos which I wrote, designed, and helped direct (with the assistance of Foundation Content).</p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Cabot Youtube Channel" rel="LT" href=<%= asset_path 'Cabot_Screen_3.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Cabot_Screen_3.jpg'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              The website was used to interact with fans, share news, give away gear and spread Lactose Tolerance to those who couldn't be at our headquarters.<br><br>
              We also created a series of PSAs to help spread the message and drive traffic for the cause.
            </p>
            <br><br>
          </div>
          <div style="clear: both;"></div>
          <div class="on_screen">
            <a class="fancybox-media" href="http://player.vimeo.com/video/22296282">
              <img src=<%= asset_path 'Cabot_Screen_1.png'  %> >
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="on_screen">
            <a class="fancybox-media" href="http://player.vimeo.com/video/22296304">
              <img src=<%= asset_path 'Cabot_Screen_2.png'  %> >
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              The project is no longer officially live but you can see the remains of it via the way back machine here: <a href="http://web.archive.org/web/20071113235114/http://www.lactosetolerance.org/" target="_blank">Wayback Tolerance.</a><br><br>
              And if you want to know a little more about the numbers cause you're nerdy like that, click right here: <a class="fancybox-media" href="http://player.vimeo.com/video/1225458">Tolerance Numbers.</a>
            </p>
          </div>

          <div class="gallery">
            <div class="gallery_tile">
              <a class="fancybox" title="Cabot Stretcher Print Ad" rel="Cabot_B" href=<%= asset_path 'Cabot_B_1.jpg'  %> >
                <div class="gallery_image">
                  <img src=<%= asset_path 'Cabot_B_1.jpg'  %> >
                </div>
              </a>
            </div>
            <div class="gallery_tile middle">
              <a class="fancybox" title="Cabot Pants Print Ad" rel="Cabot_B" href=<%= asset_path 'Cabot_B_2.jpg'  %> >
                <div class="gallery_image">
                  <img src=<%= asset_path 'Cabot_B_2.jpg'  %> >
                </div>
              </a>
            </div>
            <div class="gallery_tile">
              <a class="fancybox" title="Cabot Boots Print Ad" rel="Cabot_B" href=<%= asset_path 'Cabot_B_3.jpg' %> >
                <div class="gallery_image">
                  <img src=<%= asset_path 'Cabot_B_3.jpg'  %> >
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
        ABB : Built Greater Than
        <div class="credits"> CONCEPT<span class="text_symbol"> | </span>DESIGN<span class="text_symbol"> | </span>ART DIRECTION</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'LT_Screen_1.png'  %> ></div>
        <div class="text">
          <h1>Lactose tolerance was a viral campaign promoting equality for milk of all flavors.</h1>
          <p>
           I worked with Nesquik (via Marcus Thomas) to develop a campaign that would help keep flavored milk top of mind with young people. Utilizing light branding, the internet and a real world "headquarters" we developed a campaign that spread quickly and deliciously.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2S">
            <a class="fancybox" title="Lactose Tolerance Headquarters" rel="LT" href=<%= asset_path 'LT_Screen_2.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'LT_Screen_2.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile_2S right">
            <a class="fancybox" title="Lactose Tolerance Schwag" rel="LT" href=<%= asset_path 'LT_Screen_3.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'LT_Screen_3.jpg'   %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            The headquarters was active for two weeks in New York City. People were given free Lactose Tolerance memorabilia, hand made posters, IDs, and free flavored milk from an unmarked cooler.<br>
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Website and News Stories" rel="LT" href=<%= asset_path 'LT_Screen_4.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'LT_Screen_4.jpg'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              The website was used to interact with fans, share news, give away gear and spread Lactose Tolerance to those who couldn't be at our headquarters.<br><br>
              We also created a series of PSAs to help spread the message and drive traffic for the cause.
            </p>
            <br><br>
          </div>
          <div style="clear: both;"></div>
          <div class="on_screen">
            <a class="fancybox-media" href="http://player.vimeo.com/video/1041574">
              <img src=<%= asset_path 'LT_Screen_5.png'  %> >
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              The project is no longer officially live but you can see the remains of it via the way back machine here: <a href="http://web.archive.org/web/20071113235114/http://www.lactosetolerance.org/" target="_blank">Wayback Tolerance.</a><br><br>
              And if you want to know a little more about the numbers cause you're nerdy like that, click right here: <a class="fancybox-media" href="http://player.vimeo.com/video/1225458">Tolerance Numbers.</a>
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
</div>