<div class="pages web-page" >
  <div class="content">
      <div class="scrollback"></div>
      <div class="client_box">
        <div class="toggle">
          <div class="close">X</div>
        </div>
        <div class="title">
            ZEARN
        </div>
        <div class="client_content">
          <div class="on_screen"><img src=<%= asset_path 'Zearn_TOP_Laptop.png'  %> ></div>
          <div class="text">
            <h1>Zearn is an educational technology company</h1>
            <p>
             I worked with Zearn to develop an identity and subsequently design the student experience on the site. I developed an over arching feel for the brand and the experience as well as creating a number of designs for the mini-games within the app.
            </p>
          </div>
          <div class="gallery">
            <div class="gallery_tile">
              <a class="fancybox" title="The First Picture" rel="designs_1" href=<%= asset_path 'Zearn_TOP_Laptop.png'  %> >
                <div class="gallery_image">
                  <img src=<%= asset_path 'Zearn_TOP_Laptop.png'  %> >
                </div>
              </a>
            </div>
            <div class="gallery_tile middle">
              <a class="fancybox" title="The First Picture" rel="designs_1" href=<%= asset_path 'Zearn_TOP_Laptop.png'  %> >
                <div class="gallery_image">
                  <img src=<%= asset_path 'Zearn_TOP_Laptop.png'  %> >
                </div>
              </a>
            </div>
            <div class="gallery_tile">
              <a class="fancybox" title="The First Picture" rel="designs_1" href=<%= asset_path 'Zearn_TOP_Laptop.png'  %> >
                <div class="gallery_image">
                  <img src=<%= asset_path 'Zearn_TOP_Laptop.png'  %> >
                </div>
              </a>
            </div>
          </div>
          <div style="clear: both;"></div>
          <div class="on_screen"><img src=<%= asset_path 'Zearn_TOP_Desktop.png'  %> ></div>
          <div class="text">
            <h1>The heart of the experience is the Tower of Power.</h1>
            <p>
             I worked with Zearn to develop an identity and subsequently design the student experience on the site. I developed an over arching feel for the brand and the experience as well as creating a number of designs for the mini-games within the app.
            </p>
          </div>
        </div>
      </div>
      <div class="client_box">
        <div class="toggle">X</div>
        <div class="title">
            POW!
        </div>
        <div class="client_content">
          <p>
            Zearn is an educational technology company in new york. I worked with Zearn t odevelop and identity as well as the design of the student experience on the site
          </p>
        </div>
      </div>
      <div class="client_box">
        <div class="toggle">X</div>
        <div class="title">
            WINE GODDESS
        </div>
        <div class="client_content">
          <p>
            Zearn is an educational technology company in new york. I worked with Zearn t odevelop and identity as well as the design of the student experience on the site
          </p>
        </div>
      </div>

    </div>
    <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
  </div>