<div class="pages work-page" id="page">
  <%= render "clients/swk" %>
  <%= render "clients/uscc" %>
  <%= render "clients/bew" %>
  <%= render "clients/stacker" %>
  <%= render "clients/swig" %>
  <%= render "clients/zearn" %>
  <%= render "clients/feed" %>
</div>