<div class="pages work-page">
  <div class="content">
    <div class="scrollback"></div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          ZEARN
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>ILLUSTRATION<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'Zearn_screen_home_3.png'  %> ></div>
        <div class="text">
          <h1>Zearn is an educational technology company</h1>
          <p>
           I worked with Zearn to develop an identity and subsequently design the student experience for their web app. The heart of that experience is the Tower of Power.
          </p>
        </div>
        <div class="on_screen tower-screen">
          <ul class="rslides">
           <li><img src=<%= asset_path "tower_1.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_2.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_3.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_4.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_5.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_6.jpg" %> alt=""></li>
          </ul>
        </div>
        <div class="text">
          <p>
            In addition to the main experience I designed and illustrated a variety of mini-games that helped the students develop important skills.</p>
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Garden-Grower Reward Badges" rel="Zearn_1" href=<%= asset_path 'Zearn_screen_badges.jpg'  %> >
              <img src=<%= asset_path 'Zearn_screen_badges_1.jpg' %> >
            </a>
          </div>
          <div class="gallery_tile_2S">
            <a class="fancybox" title="Digit Slam Mini-Game Intro" rel="Zearn_1" href=<%= asset_path 'Zearn_screen_digitslam.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Zearn_screen_digitslam.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile_2S right">
            <a class="fancybox" title="Zearn Paste Explosion Screen" rel="Zearn_1" href=<%= asset_path 'Zearn_screen_paste.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Zearn_screen_paste.jpg'   %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            And developed illustrations that brought color and joy to the students' learning experience. </p>
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Tomato Growth Illustration" rel="Zearn_2" href=<%= asset_path 'Zearn_screen_tomatos.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Zearn_screen_tomatos.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Carrot Growth Illustration" rel="Zearn_2" href=<%= asset_path 'Zearn_screen_carrots.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Zearn_screen_carrots.jpg' %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            See the project live at <a href="http://www.zearn.com" target="_blank">Zearn.com</a><br>
            Be aware that you'll need to sign up and navigate the app to truly experience the work.
          </p>
        </div>
      </div>
    </div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          POW!
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'POW_screen_1.png'  %> ></div>
        <div class="text">
          <h1>POW! is a kickboxing gym in Chicago.</h1>
          <p>
            I worked with POW to design and develop a website experience that complimented and elevated their freshly minted rebrand.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="Expandable Content Tiles" rel="POW" href=<%= asset_path 'POW_screen_2.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'POW_screen_2.png' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="An Expanded Tile" rel="POW" href=<%= asset_path 'POW_screen_3.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'POW_screen_3.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="The About Page" rel="POW" href=<%= asset_path 'POW_screen_4.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'POW_screen_4.png' %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            See the project live at <a href="http://www.powkickboxing.com" target="_blank">Powkickboxing.com</a>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          WINEGODDESS
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'winegoddess_screen_1.png'  %> ></div>
        <div class="text">
          <h1>Wine goddess is a wine purveyor in Evanston.</h1>
          <p>
            I worked with the wine goddess to design and develop a website experience that would help bring customers from the internet through the front door.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="About Page" rel="WG" href=<%= asset_path 'winegoddess_screen_2.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'winegoddess_screen_2.jpg' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="Classes Page" rel="WG" href=<%= asset_path 'winegoddess_screen_3.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'winegoddess_screen_3.jpg' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Blog" rel="WG" href=<%= asset_path 'winegoddess_screen_4.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'winegoddess_screen_4.jpg' %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            See the project live at <a href="http://www.winegoddess.com" target="_blank">winegoddess.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Real Complainers Vote
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>CONCEPT<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'rcv_screen_1.png'  %> ></div>
        <div class="text">
          <h1>Real Complainers Vote is a campaign to encourage voting.</h1>
          <p>
            I worked with <a href="http://www.takethirdstreet.com/">Third Street</a> to create a campaign (name, logo and website) that encouraged young people to vote during the 2012 elections.<br><br>
            The campaign centered around the phrase “If you don’t vote you can’t complain” and highlighted the fun of complaining that was bestowed upon those who voted.<br><br>
            Many of the website elements (buttons and icons) are real-world, hand-made cardboard pieces.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="Whine Like A Baby" rel="rcv_posters" href=<%= asset_path 'rcv_poster_1.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'rcv_poster_1.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="Pick on Them" rel="rcv_posters" href=<%= asset_path 'rcv_poster_2.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'rcv_poster_2.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Emerge from the voting booth" rel="rcv_posters" href=<%= asset_path 'rcv_poster_0.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'rcv_poster_0.jpg'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              I designed posters to promote the campaign and encourage voting.<br>
              And worked with <a href="http://creativerescue.tumblr.com/">Ray Noland</a> and <a href = "http://foundationcontent.com/">Foundation Content</a> on a  promotional video.
            </p>
          </div>
        </div>
        <a class="fancybox-media" href="http://player.vimeo.com/video/50267615?byline=0&amp;portrait=0">
          <div class="on_screen">
            <img src=<%= asset_path 'rcv_screen_2.png'  %> >
          </div>
        </a>
        <div class="text">
          <p>
            The work was featured on The Atlantic, Funny or Die and a number of local news outlets.
            See the project live at <a href="http://www.realcomplainersvote.com" target="_blank">Realcomplainersvote.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          THE VIDEO FEED
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>CO-DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'videofeed_screen_1.png'  %> ></div>
        <div class="text">
          <h1>The Video Feed is a site for sharing videos.</h1>
          <p>
            I worked with <a href="http://trevorturk.com/">Trevor Turk</a> to create a simple way to share Youtube favorites with friends. The site allows you to just watch videos without navigating through all the extra “benefits” of watching on Youtube.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="Selected Video" rel="videofeed" href=<%= asset_path 'videofeed_screen_2.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'videofeed_screen_2.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="User Name and Fed-At Views" rel="videofeed" href=<%= asset_path 'videofeed_screen_4.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'videofeed_screen_4.png' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Clicked Video" rel="videofeed" href=<%= asset_path 'videofeed_screen_3.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'videofeed_screen_3.png'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              See the project live at <a href="http://thevideofeed.herokuapp.com" target="_blank">Thevideofeed.herokuapp.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          WOLFTURK
          <div class="credits"> CO-DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'wolfturk_screen_1.png' %> ></div>
        <div class="text">
          <h1>WolfTurk is my friends wedding website.</h1>
          <p>
            My Friends Trevor and Lauren got married and needed a website, so we made it happen. I co-designed ( with <a href="http://cargocollective.com/amandagrandel">Amanda Grandel</a> ) and programmed the site.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile left">
            <a class="fancybox" title="Venue Section" rel="wolfturk" href=<%= asset_path 'wolfturk_screen_2.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'wolfturk_screen_2.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="Details Section" rel="wolfturk" href=<%= asset_path 'wolfturk_screen_3.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'wolfturk_screen_3.png' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile right">
            <a class="fancybox" title="Registry Section" rel="wolfturk" href=<%= asset_path 'wolfturk_screen_4.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'wolfturk_screen_4.png' %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
        </div>
        <div class="text">
          <p>
            See the project live at <a href="http://www.wolfturk.com" target="_blank">wolfturk.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          NIGHTSHIFT
          <div class="credits">DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'nightshift_screen_1.png' %> ></div>
        <div class="text">
          <h1>Nighsift.me is a campaign to do work for Americans while America sleeps.</h1>
          <p>
            This project is the brain child of copywriter <a href="http://www.nategagnon.com/">Nate Gagnon</a>. Nate was traveling in Asia and wanted to work while he was there. He realized he could work “all night” for American companies who were on short deadlines and deliver them fresh work first thing in the morning (and end-of-day for him).
            I worked with Nate to develop the site; including a time-zoned clock, gallery of work, and a live updating calendar.
          </p>
        </div>
        <div class="text">
          <p>
            See the project live at <a href="http://www.nightshift.me" target="_blank">Nightshift.me</a>
          </p>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          SEEMAXWORK
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>CONCEPT<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'seemax_screen_1.png'  %> ></div>
        <div class="text">
          <h1>Seemaxwork is the website you’ve been looking at.</h1>
          <p>
            I designed and programmed everything. If you're a stickler for process you can <a href="/">click here</a> and it will take you back to the home page and you can go through this site with the mindset of someone exploring one of my completed projects. If that's your thing.
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
</div>