<div class="pages work-page">
  <div class="content">
    <div class="scrollback"></div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          ZEARN
          <div class="credits"> BRANDING<span class="text_symbol"> | </span>DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'Zearn_screen_home_3.png'  %> ></div>
        <div class="text">
          <h1>Zearn is an educational technology company</h1>
          <p>
           I worked with Zearn to develop an identity and subsequently design the student experience for their web app. The heart of that experience is the Tower of Power.
          </p>
        </div>
        <div class="on_screen tower-screen">
          <ul class="rslides">
           <li><img src=<%= asset_path "tower_1.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_2.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_3.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_4.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_5.jpg" %> alt=""></li>
           <li><img src=<%= asset_path "tower_6.jpg" %> alt=""></li>
          </ul>
        </div>
        <div class="text">
          <p>
            In addition to the main experience I designed and illustrated a variety of mini-games that helped the students develop important skills.</p>
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Garden-Grower Reward Badges" rel="Zearn_1" href=<%= asset_path 'Zearn_screen_badges.jpg'  %> >
              <img src=<%= asset_path 'Zearn_screen_badges_1.jpg' %> >
            </a>
          </div>
          <div class="gallery_tile_2S">
            <a class="fancybox" title="Digit Slam Mini-Game Intro" rel="Zearn_1" href=<%= asset_path 'Zearn_screen_digitslam.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Zearn_screen_digitslam.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile_2S right">
            <a class="fancybox" title="Zearn Paste Explosion Screen" rel="Zearn_1" href=<%= asset_path 'Zearn_screen_paste.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Zearn_screen_paste.jpg'   %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            And developed illustrations that brought color and joy to the students' learning experience. </p>
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Tomato Growth Illustration" rel="Zearn_2" href=<%= asset_path 'Zearn_screen_tomatos.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Zearn_screen_tomatos.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile_2L">
            <a class="fancybox" title="Carrot Growth Illustration" rel="Zearn_2" href=<%= asset_path 'Zearn_screen_carrots.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'Zearn_screen_carrots.jpg' %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            See the project live at <a href="http://www.zearn.com" target="_blank">Zearn.com</a><br>
            Be aware that you'll need to sign up and navigate the app to truly experience the work.
          </p>
        </div>
      </div>
    </div>

    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Big Swig Tours
          <div class="credits"> BRANDING<span class="text_symbol"> | </span>DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'bigswig_screen_1.jpg'  %> ></div>
        <div class="text">
          <h1>Big Swig Tours is an Alaskan-brewery-tour company.</h1>
          <p>
            I worked with Big Swig to create a brand identiy and website that got people excited about the breweries and stories that awaited them in Anchorage Alaska.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="The site grows and changes as you scroll" rel="bs" href=<%= asset_path 'bigswig_screen_2.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'bigswig_screen_2.png' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="with Photography and branding" rel="bs" href=<%= asset_path 'bigswig_screen_3.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'bigswig_screen_3.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="A van wrap and custom chalk board" rel="bs" href=<%= asset_path 'bigswig_screen_4.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'bigswig_screen_4.png'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              See the project live at <a href="http://www.bigswigtours.com" target="_blank">www.bigswigtours.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          The Best of Craigslist
          <div class="credits"> BRANDING<span class="text_symbol"> | </span>DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'bestofcl_screen_1.jpg'  %> ></div>
        <div class="text">
          <h1>The Best of craigslist Live is a series of videos and live performances.</h1>
          <p>
            I worked with Best of Craigslist Live mastermind <a href="http://johnpick.com/" target="_blank">John Pick</a> to create a brand identiy and web home for his Funny or Die series and his live performances. The site showcases both facets of the BOCLL experience. Allowing people to get get tickets to the live shows and enjoy all the videos from the acclaimed web series.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="The site features the full web series (responsively)" rel="boc" href=<%= asset_path 'bestofcl_screen_2.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'bestofcl_screen_2.png' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="Show times and ticket links" rel="boc" href=<%= asset_path 'bestofcl_screen_4.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'bestofcl_screen_4.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Along with quotes about and images from the series" rel="boc" href=<%= asset_path 'bestofcl_screen_3.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'bestofcl_screen_3.png'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              See the project live at <a href="http://bestofcraigslist.herokuapp.com/" target="_blank">www.thebestofcraigslistlive.com.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Lauren Spira Coaching
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'lscc_screen_1.jpg'  %> ></div>
        <div class="text">
          <h1>Lauren Spira Coaching is... a Career Coaches Site.</h1>
          <p>
            I worked with Lauren to create her an elegant and informative web presence, a site she would be proud to send people to, for her new career as a career coach.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="The Sticky Nav changes colors with scrolling" rel="lscc" href=<%= asset_path 'lscc_screen_2.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'lscc_screen_2.png' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="I designed a simple icon set to accompany the servies" rel="lscc" href=<%= asset_path 'lscc_screen_3.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'lscc_screen_3.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="As well as the testimonials" rel="lscc" href=<%= asset_path 'lscc_screen_4.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'lscc_screen_4.png'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              See the project live at <a href="http://www.laurenspiracoaching.com/" target="_blank">www.laurenspiracoaching.com/</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          POW!
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'POW_screen_1.png'  %> ></div>
        <div class="text">
          <h1>POW! is a kickboxing gym in Chicago.</h1>
          <p>
            I worked with POW to design and develop a website experience that complimented and elevated their freshly minted rebrand.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="Expandable Content Tiles" rel="POW" href=<%= asset_path 'POW_screen_2.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'POW_screen_2.png' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="An Expanded Tile" rel="POW" href=<%= asset_path 'POW_screen_3.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'POW_screen_3.png'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="The About Page" rel="POW" href=<%= asset_path 'POW_screen_4.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'POW_screen_4.png' %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            See the project live at <a href="http://www.powkickboxing.com" target="_blank">Powkickboxing.com</a>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          THE VIDEO FEED
          <div class="credits"> BRANDING<span class="text_symbol"> | </span>DESIGN<span class="text_symbol"> | </span>CO-DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'videofeed_screen_1_2.jpg'  %> ></div>
        <div class="text">
          <h1>The Video Feed is a site for sharing videos.</h1>
          <p>
            I worked with <a href="http://trevorturk.com/" target="_blank">Trevor Turk</a> to create a simple app for sharing Youtube favorites with friends. The site allows you to just watch favorited videos without navigating through all the extra “benefits” of the Youtube site.<br>
            It also tracks how many likes each video had when you first favorited it, allowing you to assign an exact number to your coolness.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile middle">
            <a class="fancybox" title="Hovering over a video" rel="videofeed" href=<%= asset_path 'videofeed_screen_3_2.png' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'videofeed_screen_3_2.png' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Title, User and Fed-at number" rel="videofeed" href=<%= asset_path 'videofeed_screen_2_2.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'videofeed_screen_2_2.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="A video playing" rel="videofeed" href=<%= asset_path 'videofeed_screen_4_2.png'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'videofeed_screen_4_2.png'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              See the project live at <a href="http://www.eatthevideofeed.com" target="_blank">www.eatthevideofeed.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          WINEGODDESS
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'winegoddess_screen_1.png'  %> ></div>
        <div class="text">
          <h1>Wine goddess is a wine purveyor in Evanston.</h1>
          <p>
            I worked with the wine goddess to design and develop a website experience that would help bring customers from the internet through the front door.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="About Page" rel="WG" href=<%= asset_path 'winegoddess_screen_2.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'winegoddess_screen_2.jpg' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="Classes Page" rel="WG" href=<%= asset_path 'winegoddess_screen_3.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'winegoddess_screen_3.jpg' %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Blog" rel="WG" href=<%= asset_path 'winegoddess_screen_4.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'winegoddess_screen_4.jpg' %> >
              </div>
            </a>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="text">
          <p>
            See the project live at <a href="http://www.winegoddess.com" target="_blank">winegoddess.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          Real Complainers Vote
          <div class="credits"> BRANDING<span class="text_symbol"> | </span>DESIGN<span class="text_symbol"> | </span>CONCEPT<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'rcv_screen_1.png'  %> ></div>
        <div class="text">
          <h1>Real Complainers Vote is a campaign to encourage voting.</h1>
          <p>
            I worked with <a href="http://www.takethirdstreet.com/">Third Street</a> to create a campaign (name, logo and website) that encouraged young people to vote during the 2012 elections.<br><br>
            The campaign centered around the phrase “If you don’t vote you can’t complain” and highlighted the fun of complaining that was bestowed upon those who voted.<br><br>
            Many of the website elements (buttons and icons) are real-world, hand-made cardboard pieces.
          </p>
        </div>
        <div class="gallery">
          <div class="gallery_tile">
            <a class="fancybox" title="Whine Like A Baby" rel="rcv_posters" href=<%= asset_path 'rcv_poster_1.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'rcv_poster_1.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile middle">
            <a class="fancybox" title="Pick on Them" rel="rcv_posters" href=<%= asset_path 'rcv_poster_2.jpg'  %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'rcv_poster_2.jpg'  %> >
              </div>
            </a>
          </div>
          <div class="gallery_tile">
            <a class="fancybox" title="Emerge from the voting booth" rel="rcv_posters" href=<%= asset_path 'rcv_poster_0.jpg' %> >
              <div class="gallery_image">
                <img src=<%= asset_path 'rcv_poster_0.jpg'  %> >
              </div>
            </a>
          </div>
          <div style="clear: both;"></div>
          <div class="text">
            <p>
              I designed posters to promote the campaign and encourage voting.<br>
              And worked with <a href="http://creativerescue.tumblr.com/">Ray Noland</a> and <a href = "http://foundationcontent.com/">Foundation Content</a> on a  promotional video.
            </p>
          </div>
        </div>
        <a class="fancybox-media" data-fancybox-type="iframe" href="http://player.vimeo.com/video/50267615?byline=0&amp;portrait=0">
          <div class="on_screen">
            <img src=<%= asset_path 'rcv_screen_2.png'  %> >
          </div>
        </a>
        <div class="text">
          <p>
            The work was featured on The Atlantic, Funny or Die and a number of local news outlets.
            See the project live at <a href="http://www.realcomplainersvote.com" target="_blank">Realcomplainersvote.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">
        <div class="close">X</div>
      </div>
      <div class="title">
          SEEMAXWORK
          <div class="credits"> DESIGN<span class="text_symbol"> | </span>CONCEPT<span class="text_symbol"> | </span>DEVELOPMENT</div>
      </div>
      <div class="client_content">
        <div class="on_screen"><img src=<%= asset_path 'seemax_screen_1.png'  %> ></div>
        <div class="text">
          <h1>Seemaxwork is the website you’ve been looking at.</h1>
          <p>
            I designed and programmed everything. If you're a stickler for process you can <a href="/">click here</a> and it will take you back to the home page and you can go through this site with the mindset of someone exploring one of my completed projects. If that's your thing.
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
</div>