<!DOCTYPE html>
<html>
  <head>
    <title>SeeMaxWork</title>
    <%= favicon_link_tag 'seemaxfav.png' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="nav">
    <hr>
      <ul>
        <li><div class="dot-box"><div class="dot red"></div></div><a class="transition" href="/web">WEB</a></li>
        <li><div class="dot-box"><div class="dot green"></div></div><a class="transition" href="/design">DESIGN</a></li>
        <li><div class="dot-box"><div class="dot yellow"></div></div><a class="transition" href="/logos">LOGOS</a></li>
        <li><div class="dot-box"><div class="dot blue"></div></div><a class="transition" href="/fun">FUN</a></li>
        <li><div class="dot-box"><div class="dot grey"></div></div><a class="transition" href="/store">STORE </a></li>
        <li><div class="dot-box"><div class="dot black"></div></div><a class="transition" href="/email">EMAIL</a></li>
      </ul>
    <hr>
  </div>
  <%= yield %>
  </body>
</html>
