<!DOCTYPE html>
<html>
  <head>
    <title>SeeMaxWork</title>
    <%= favicon_link_tag 'seemaxfav.png' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="nav">
    <hr>
    <div class="nav_item"><div class="dot-box"><div class="dot red"></div></div><a class="transition" href="/work">WORK</a></div>
    <div class="nav_item left"><div class="dot-box"><div class="dot yellow"></div></div><a class="transition" href="/logos">LOGOS</a></div>
    <div class="nav_item middle"><div class="dot-box"><div class="dot green"></div></div><a class="transition" href="/fun">FUN</a></div>
    <div class="nav_item"><div class="dot-box"><div class="dot blue"></div></div><a class="transition" href="/store">STORE</a></div>
    <div class="nav_item"><div class="dot-box"><div class="dot black"></div></div><a class="transition" href="/email">EMAIL</a></div>
    <div style="clear: both;"></div>
    <hr>
  </div>
  <div style="clear: both;"></div>
  <%= yield %>
  </body>
</html>
